footer#footer.site-footer.full-block.mobile
  .container
    .footer-cols
      .footer-col.footer-col-1
        .footer-heading Рубрики
        ul.footer-nav
          li
            a(href='https://nogibogi.com/category/shoes') Обувь
          li
            a(href='https://nogibogi.com/category/health') Здоровье
          li
            a(href='https://nogibogi.com/category/question') Есть вопрос
          li
            a(href='https://nogibogi.com/category/trailrunning') Трейлраннинг
          li
            a(href='https://nogibogi.com/category/300-days') 300 дней
      .footer-col.footer-col-2
        ul.footer-nav
          li
            a(href='https://nogibogi.com/category/muzyka-dlya-bega') Музыка для бега
          li
            a(href='https://nogibogi.com/category/na-pulse') На пульсе
          li
            a(href='https://nogibogi.com/category/kyivtrails') Трейловые места Киева
          li
            a(href='https://nogibogi.com/category/running-school') Школа бега
          li
            a(href='https://nogibogi.com/category/beginners') Начинающим
      .footer-col.footer-col-3
        ul.footer-nav
          li
            a(href='https://nogibogi.com/category/werunkiev') Беговые места Киева
          li
            a(href='https://nogibogi.com/category/outfit') Одежда
          li
            a(href='https://nogibogi.com/category/cycling') Велоспорт
          li
            a(href='https://nogibogi.com/category/running-books') Книги
          li
            a(href='https://nogibogi.com/category/gadgets') Гаджеты
      .footer-col.footer-col-4
        ul.footer-nav
          li
            a(href='https://nogibogi.com/category/runners-stories') Истории
          li
            a(href='https://nogibogi.com/category/training') Тренировки
          li
            a(href='https://nogibogi.com/category/places') Места
          li
            a(href='https://nogibogi.com/category/motivation') Мотивация
          li
            a(href='https://nogibogi.com/category/nutrition') Питание
      .footer-col.footer-col-5
        .footer-heading О проекте
        ul.footer-nav
          li
            a(href='https://nogibogi.com/about') О проекте
          li
            a(href='mailto:editors@nogibogi.com') Напишите нам
        .footer-heading.footer-heading-social Соцсети
        ul.footer-nav.footer-socials
          li
            a(target='_blank', href='https://www.facebook.com/nogibogicomua', rel='noopener')
              i.icon.icon-facebook
          li
            a(target='_blank', href='http://vk.com/nogibogi', rel='noopener')
              i.icon.icon-vk
          li
            a(target='_blank', href='https://www.youtube.com/channel/UCIiYj0ItF02n3Ftbf3rSwbw', rel='noopener', title='Youtube')
              i.icon.icon-youtube
          li
            a(target='_blank', href='https://t.me/nogibogi', rel='noopener', title='Telegram')
              i.icon.icon-telegram
          li
            a(target='_blank', href='https://www.strava.com/clubs/nogibogi', rel='noopener', title='Strava')
              i.icon.icon-strava
    .footer-copyrights
      a.footer-logo(href='https://nogibogi.com') Ногибоги
      | Ногибоги — это онлайн-журнал о беге, здоровом образе жизни и всём, что с этим связано.


