.mobile-nav
  form.searchform.mobile(role='search', method='get', action='https://nogibogi.com/', autocomplete='off')
    fieldset
      i.icon.icon-search
      label.visually-hidden(for='search-form-5baa2cc0ecb9f') Search
      input#search-form-5baa2cc0ecb9f.search-field(type='text', placeholder='Поиск', value='', name='s', autocomplete='off')
      a.close-search(href='#') ✕
  ul
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('shoes') }")
      a(href='category/shoes') Обувь
    li.cat-color.cat-turquoise(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('health') }")
      a(href='category/health') Здоровье
    li.cat-color.cat-scarlet(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('question') }")
      a(href='category/question') Есть вопрос
    li.cat-color.cat-laurel(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('trailrunning') }")
      a(href='category/trailrunning') Трейлраннинг
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('300-days') }")
      a(href='category/300-days') 300 дней
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('muzyka-dlya-bega') }")
      a(href='category/muzyka-dlya-bega') Музыка для бега
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('na-pulse') }")
      a(href='category/na-pulse') На пульсе
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('kyivtrails') }")
      a(href='category/kyivtrails') Трейловые места Киева
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('running-school') }")
      a(href='category/running-school') Школа бега
    li.cat-color.cat-azure(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('beginners') }")
      a(href='category/beginners') Начинающим
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('werunkiev') }")
      a(href='category/werunkiev') Беговые места Киева
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('outfit') }")
      a(href='category/outfit') Одежда
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('cycling') }")
      a(href='category/cycling') Велоспорт
    li.cat-color.cat-azure(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('running-books') }")
      a(href='category/running-books') Книги
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('gadgets') }")
      a(href='category/gadgets') Гаджеты
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('runners-stories') }")
      a(href='category/runners-stories') Истории
    li.cat-color.cat-red(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('training') }")
      a(href='category/training') Тренировки
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('places') }")
      a(href='category/places') Места
    li.cat-color.cat-turquoise(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('motivation') }")
      a(href='category/motivation') Мотивация
    li.cat-color.cat-scarlet(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('nutrition') }")
      a(href='category/nutrition') Питание
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('interview') }")
      a(href='category/interview') Интервью
    li.cat-color.cat-grey(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('equipment') }")
      a(href='category/equipment') Экипировка
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('reports') }")
      a(href='category/reports') Отчёты о соревнованиях
    li.cat-color.cat-laurel(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('triathlon') }")
      a(href='category/triathlon') Триатлон
    li.cat-color.cat-pink(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('womens-running') }")
      a(href='category/womens-running') Женщинам
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('race-calendar') }")
      a(href='category/race-calendar') Календарь
    li.cat-color.cat-green(data-ui-sref-active='active', data-ng-class="{ 'active' : isCurrentCat('columns') }")
      a(href='category/columns') Колонки
