$primary-color: '#2F2F2F';
$second-color: '#7C7C7C';
$third-color: '#D5D5D5';
$fourth-color: '#F5F5F5';
$fifth-color: '#7F00AC';
$sixth-color: '#F34A4A';
$seventh-color: '#00DA4A';
$black-color: '#000';
$whote-color: '#fff';
