@import "./icons/variables.scss";

.form {
  &-group {}

  &-input {
    &[type="checkbox"] {
      +.form-label {

        padding: 0 0 0 30px;
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
        }

        &:before {
          width: 20px;
          height: 20px;
          background: #fff;
          border: 1px solid #686868;
          box-sizing: border-box;
          border-radius: 2px;
        }

      }

      &:checked+.form-label {
        &:before {
          border-color: #5D38DB;
        }

        &:after {
          font-family: '#{$icomoon-font-family}';
          width: 13px;
          height: 10px;
          left: 3px;
          content: $icon-check;
          line-height: 1;
          top: -2px;
          color: #5D38DB;
          font-size: 13px;
        }
      }

      &:focus+.form-label {
        &:before {
          border-color: #7F00AC;
        }

        &:after {
          color: #7F00AC;
        }
      }
    }

    &[type="radio"] {
      +.form-label {

        padding: 0 0 0 30px;
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
        }

        &:before {
          width: 20px;
          height: 20px;
          background: #fff;
          border: 2px solid #5D38DB;
          border-radius: 50%;
        }

      }

      &:checked+.form-label {
        &:before {
          border-color: #5D38DB;
        }

        &:after {
          width: 10px;
          height: 10px;
          left: 5px;
          background: #5D38DB;
          border-radius: 50%;
        }
      }

      &:focus+.form-label {
        &:before {
          border-color: #7F00AC;
        }

        &:after {
          background: #7F00AC;
        }
      }
    }
  }

  &-label {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #686868;
    user-select: none;
  }

}


.material {
  &-group {
    position: relative;
    padding: 30px 0 0;
    margin-bottom: 10px;
  }

  &-textarea {
    resize: none;
  }

  &-input,
  &-textarea {
    font-family: 'Open Sans', sans-serif;
    background: none;
    color: #7F00AC;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 10px 7px 0px;
    display: block;
    max-width: 380px;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #D8D8D8;
    background: #fff;

    &:focus {
      outline: none;
    }

    &:focus~.material-label,
    &:valid~.material-label {
      top: 7px;
      color: rgba(#979797, 0.9);
      font-weight: 300;
      font-size: 13px;
      ;
    }

    &:focus~.material-bar:before {
      width: 100%;
    }
  }

  &-input[type="password"] {
    letter-spacing: 0.3em;
  }

  &-label {
    color: #979797;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    transition: 300ms ease all;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    top: 40px;
    margin: auto;
    height: 20px;
  }

  &-bar {
    position: relative;
    display: block;
    max-width: 380px;

    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: #7F00AC;
      transition: 300ms ease all;
      left: 0%;
    }
  }
}
