.section-block {
  background: linear-gradient(132.55deg, #7F00AC 30%, #5D38DB 100%);
  padding: 60px 0 40px;
  text-align: center;

  &-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &-description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    max-width: 878px;
    margin: 0 auto 40px;
  }

  &-btn {
    color: #FFFFFF;
    text-decoration: none;
    border-color: #fff;

    &:hover {
      color: #FFFFFF;
      text-decoration: none;
      border-color: #fff;
    }
  }
}
