h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  padding: 0;
  margin: 0;
  line-height: 1;
}

h1,
.h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
}

h2,
.h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
}

h3,
.h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
}

h4,
.h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

h5,
.h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
}

h6,
.h6 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
}

.text-common {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
}

.text-small {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
}

.fw-100 {
  font-weight: 100
}

.fw-200 {
  font-weight: 200
}

.fw-300 {
  font-weight: 300
}

.fw-400 {
  font-weight: 400
}

.fw-500 {
  font-weight: 500
}

.fw-600 {
  font-weight: 600
}

.fw-700 {
  font-weight: 700
}

.fw-800 {
  font-weight: 800
}

.fw-900 {
  font-weight: 900
}

.fs-normal {
  font-style: normal
}

.fs-italic {
  font-style: italic
}

.ff-open-sans {
  font-family: 'Open Sans', sans-serif
}

.ff-montserrat {
  font-family: 'Montserrat', sans-serif
}
