$primary-color: #2F2F2F;
$second-color: #7C7C7C;
$third-color: #D5D5D5;
$fourth-color: #F5F5F5;
$fifth-color: #7F00AC;
$sixth-color: #F34A4A;
$seventh-color: #00DA4A;
$eighth-color: #dddddd;
$black-color: #000;
$white-color: #fff;



$primary-font: 'Open-Sans';
$secondary-font: 'Montserrat';
