@import 'variables';
@import 'reboot';

@import 'typography';
@import 'fonts';

@import 'button';
@import 'form';
@import 'checkbox';
@import 'dropdown';

@import 'logo';
@import 'modal';
@import 'search';
@import 'pagination';
@import 'breadcrumb';

.asd {
  svg {
    width: 50px;
    height: 50px;
    background-color: lightgray;
  }
}
