$icomoon-font-path: '../fonts/icons/';

@import 'variables';
@import 'reboot';

@import 'typography';
@import 'fonts';
@import 'icons/style';

@import 'button';
@import 'form';
@import 'checkbox';
@import 'dropdown';
@import 'chip';

@import 'logo';
@import 'modal';
@import 'search';
@import 'switch';
@import 'pagination';
@import 'breadcrumb';

@import 'main-header';
@import 'main-search';
@import 'hero';
@import 'auth';
@import 'breadcrumbs';
@import 'footer';
@import 'language';
@import 'section-block';


.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 12px;
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.m {
  &t {
    &-5 {
      margin-top: 5px;
    }

    &-10 {
      margin-top: 10px;
    }

    &-15 {
      margin-top: 15px;
    }

    &-20 {
      margin-top: 20px;
    }

    &-25 {
      margin-top: 25px;
    }

    &-30 {
      margin-top: 30px;
    }
  }

  &l {
    &-5 {
      margin-left: 5px;
    }

    &-10 {
      margin-left: 10px;
    }

    &-15 {
      margin-left: 15px;
    }

    &-20 {
      margin-left: 20px;
    }

    &-25 {
      margin-left: 25px;
    }

    &-30 {
      margin-left: 30px;
    }
  }

  &r {
    &-5 {
      margin-right: 5px;
    }

    &-10 {
      margin-right: 10px;
    }

    &-15 {
      margin-right: 15px;
    }

    &-20 {
      margin-right: 20px;
    }

    &-25 {
      margin-right: 25px;
    }

    &-30 {
      margin-right: 30px;
    }
  }

  &b {
    &-5 {
      margin-bottom: 5px;
    }

    &-10 {
      margin-bottom: 10px;
    }

    &-15 {
      margin-bottom: 15px;
    }

    &-20 {
      margin-bottom: 20px;
    }

    &-25 {
      margin-bottom: 25px;
    }

    &-30 {
      margin-bottom: 30px;
    }
  }
}
