article
  //- section.langing-box.langing-box_gray.langing-box_fixed
  //-   .container
  //-     span test
  //- section
  //-   .container
  //-     span test
  //-     img(src="images/image-0.png" alt="image-0")
  //-     img(src="images/image-1.png" alt="image-1")
  section.langing-box.langing-box_gray
    .container
      .landing-logos
        .landing-logos__item
          img.landing-logos__img(src="images/coca.png" alt="coca")
        .landing-logos__item
          img.landing-logos__img(src="images/totaljobs.png" alt="totaljobs")
        .landing-logos__item
          img.landing-logos__img(src="images/axel.png" alt="axel")
        .landing-logos__item
          img.landing-logos__img(src="images/stepstone.png" alt="stepstone")
  section.langing-box
    .container
       .landing-article
        .landing-article__title TEAMWORK
        .landing-article__description Understand team dynamics, and optimize engagement and performance.
        .landing-article__box.landing-article__box_reverse
          .landing-article__box-side
            figure.landing-article__figure.landing-article__figure_left
              img.landing-article__img(src="images/image-2.png", alt="image")
          .landing-article__box-side
            .landing-article__text-gray With Teamwork Pro
            .landing-article__text-blue Identify strengths and weaknesses, and pinpoint issues that might become problems.
            .landing-article__text-gray Without
            .landing-article__text-black Small problems become bigger problems, and by then it’s too late to act.
            a.landing-article__more Learn more
        .landing-article__box
          .landing-article__box-side
            figure.landing-article__figure.landing-article__figure_right
              img.landing-article__img(src="images/image-3.png", alt="image")
          .landing-article__box-side
            .landing-article__text-gray With Teamwork Pro
            .landing-article__text-blue Improve engagement, and attract and retain talent.
            .landing-article__text-gray Without
            .landing-article__text-black Productivity will remain low and you might lose unhappy employees due to conﬂict.
            a.landing-article__more Learn more
  section.langing-box.langing-box_gray
    .container
      .landing-quote
        .landing-quote__text “Job seekers need more insight than the often opaque information provided in a job description or company proﬁle. Good&Co provides the transparency needed on both sides that enables better culture ﬁt for both candidates and companies.”
        .landing-quote__author ― Tim Proehm, Senior Director, RPO Center of Excellence at Kelly Outsourcing and Consulting Group
  section.langing-box
    .container
      .landing-article
        .landing-article__title RECRUIT
        .landing-article__description Make better decisions, replicate them, and speed up time to hire.
        .landing-article__box.landing-article__box_reverse
          .landing-article__box-side
            figure.landing-article__figure.landing-article__figure_left
              img.landing-article__img(src="images/image-6.png", alt="image")
          .landing-article__box-side
            .landing-article__text-gray With Teamwork Pro
            .landing-article__text-blue Focus eforts on the best candidates. See how they ﬁt in relation to the team  and each other.
            .landing-article__text-gray Without
            .landing-article__text-black Waste time screening candidates who look good on paper but aren't a great ﬁt.
            a.landing-article__more Learn more
        .landing-article__box
          .landing-article__box-side
            figure.landing-article__figure.landing-article__figure_right
              img.landing-article__img(src="images/image-7.png", alt="image")
          .landing-article__box-side
            .landing-article__text-gray With Teamwork Pro
            .landing-article__text-blue Use ready-made proﬁles to see whether someone has the experience and the right soft skills.
            .landing-article__text-gray Without
            .landing-article__text-black Lose time hiring the wrong peope, experience increased churn.
            a.landing-article__more Learn more
  section.langing-box.langing-box_gray.text-center
    .container
      h2.langing-title Get Culture Fit Today with Teamwork Pro
      button.langing-btn Show Me How
