footer.footer-wrapper
  .main-footer
    .container
      .row
        .gc-col-1.col-xs-6.col-md-3
          #text_icl-6.theme-widget._footer.widget_text_icl
            .textwidget
              span.logo
              .socials
                a.fa.fa-facebook-square(href='https://www.facebook.com/thegoodco', target='_blank')
                a.fa.fa-linkedin-square(href='https://www.linkedin.com/company/good.co', target='_blank')
                a.fa.fa-twitter-square(href='https://twitter.com/ingoodco', target='_blank')
                a.fa.fa-instagram(href='http://instagram.com/goodcoapp', target='_blank')
                a.fa.fa-angellist(href='https://angel.co/good-co', target='_blank')
              .subscribe
                h5 Stay Informed!
                p Sign up for our newsletter
                #wpcf7-f1609-o1.wpcf7(role='form', lang='en-US', dir='ltr')
                  .screen-reader-response
                  form.wpcf7-form(action='/#wpcf7-f1609-o1', method='post', novalidate='novalidate')
                    div(style='display: none;')
                      input(type='hidden', name='_wpcf7', value='1609')
                      input(type='hidden', name='_wpcf7_version', value='5.0.3')
                      input(type='hidden', name='_wpcf7_locale', value='en_US')
                      input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f1609-o1')
                      input(type='hidden', name='_wpcf7_container_post', value='0')
                    label.has-float-label
                      span.wpcf7-form-control-wrap.email
                        input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='email', value='', size='00', minlength='1', aria-required='true', aria-invalid='false')
                      span.floated Your email
                    button(type='submit') Submit
                    .wpcf7-response-output.wpcf7-display-none
        .gc-col-5.col-xs-6.col-md-3
          #text_icl-7.theme-widget._footer.widget_text_icl
            .textwidget
              h4 Get our Mobile Apps!
              p
                strong Workplace Happiness
                br
                | Take fun quizzes and discover your strengths.
              a.footer-5(target='_blank', href='https://itunes.apple.com/us/app/good.co-match-your-personality/id892559034?utm_source=web&utm_medium=web&utm_campaign=App%20Store%20From%20Web')
                img(src='https://good.co/wp-content/uploads/2017/03/app-store.png', alt='Workplace Happiness iOS')
              a.footer-5(target='_blank', href='https://play.google.com/store/apps/details?id=co.good.android&referrer=utm_source%3Dgood.co%26utm_medium%3Dstore%2520button%26utm_content%3Dsite%2520footer')
                img(src='https://good.co/wp-content/uploads/2017/03/play-store.png', alt='Workplace Happiness Android')
              p
                strong Teamwork
                br
                | Discover how you works with teams.
              a.footer-5(target='_blank', href='https://itunes.apple.com/app/id1342229093?mt=8')
                img(src='https://good.co/wp-content/uploads/2017/03/app-store.png', alt='Teamwork iOS')
              a.footer-5(target='_blank', href='https://play.google.com/store/apps/details?id=co.good.teamwork.android')
                img(src='https://good.co/wp-content/uploads/2017/03/play-store.png', alt='Teamwork Android')
              .subscribe
                h5 Stay Informed!
                p Sign up for our newsletter
                #wpcf7-f1609-o2.wpcf7(role='form', lang='en-US', dir='ltr')
                  .screen-reader-response
                  form.wpcf7-form(action='/#wpcf7-f1609-o2', method='post', novalidate='novalidate')
                    div(style='display: none;')
                      input(type='hidden', name='_wpcf7', value='1609')
                      input(type='hidden', name='_wpcf7_version', value='5.0.3')
                      input(type='hidden', name='_wpcf7_locale', value='en_US')
                      input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f1609-o2')
                      input(type='hidden', name='_wpcf7_container_post', value='0')
                    label.has-float-label
                      span.wpcf7-form-control-wrap.email
                        input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='email', value='', size='00', minlength='1', aria-required='true', aria-invalid='false')
                      span.floated Your email
                    button(type='submit') Submit
                    .wpcf7-response-output.wpcf7-display-none
        .gc-col-2.col-xs-4.col-md-2
          #nav_menu-3.theme-widget._footer.widget_nav_menu
            .menu-footer1-container
              ul#menu-footer1.menu
                li#menu-item-5889.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-5889
                  a(href='#', itemprop='url') Products
                  ul.sub-menu
                    li#menu-item-5891.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5891
                      a(target='_blank', href='https://app.adjust.com/5dlf1u?campaign=Corporate_site&adgroup=Aboutus_learnmore_CTA', itemprop='url') Workplace Happiness
                    li#menu-item-6443.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-6443
                      a(href='https://good.co/teamworkpro/', itemprop='url') Teamwork Pro
                li#menu-item-5893.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-5893
                  a(href='#', itemprop='url') Our Science
                  ul.sub-menu
                    li#menu-item-5917.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5917
                      a(href='https://good.co/our-science/background/', itemprop='url') Background
                    li#menu-item-6445.menu-item.menu-item-type-post_type_archive.menu-item-object-personas.menu-item-6445
                      a(href='https://good.co/personas/', itemprop='url') People Personas
                    li#menu-item-6444.menu-item.menu-item-type-post_type_archive.menu-item-object-company-personas.menu-item-6444
                      a(href='https://good.co/company-personas/', itemprop='url') Company Personas
                li#menu-item-5897.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-5897
                  a(href='#', itemprop='url') Insights
                  ul.sub-menu
                    li#menu-item-5978.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5978
                      a(target='_blank', href='/companies/', itemprop='url') Company Profiles
        .gc-col-3.col-xs-4.col-md-2
          #nav_menu-4.theme-widget._footer.widget_nav_menu
            .menu-footer2-container
              ul#menu-footer2.menu
                li#menu-item-30.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-30
                  a(target='_blank', href='https://good.co/blog/', itemprop='url') Blog
                  ul.sub-menu
                    li#menu-item-5899.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-5899
                      a(target='_blank', href='https://good.co/category/career/', itemprop='url') Career
                    li#menu-item-5901.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-5901
                      a(target='_blank', href='https://good.co/category/career_advice/', itemprop='url') Career Advice
                    li#menu-item-5903.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-5903
                      a(target='_blank', href='https://good.co/category/company_culture/', itemprop='url') Company Culture
                    li#menu-item-5900.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-5900
                      a(target='_blank', href='https://good.co/category/goodco/', itemprop='url') Good&amp;Co
                    li#menu-item-5904.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-5904
                      a(target='_blank', href='https://good.co/category/pr/', itemprop='url') Press Release
                    li#menu-item-5902.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-5902
                      a(target='_blank', href='https://good.co/category/psychometrics/', itemprop='url') Psychometrics
        .gc-col-4.col-xs-4.col-md-2
          #nav_menu-5.theme-widget._footer.widget_nav_menu
            .menu-footer3-container
              ul#menu-footer3.menu
                li#menu-item-5906.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-5906
                  a(href='#', itemprop='url') About
                  ul.sub-menu
                    li#menu-item-5905.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5905
                      a(href='https://good.co/about-us/', itemprop='url') About Us
                    li#menu-item-5911.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5911
                      a(href='/team', itemprop='url') Our Team
                    li#menu-item-5910.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5910
                      a(href='https://good.co/press/', itemprop='url') Press
                    li#menu-item-33.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-33
                      a(href='https://faq.good.co', itemprop='url') FAQ
                    li#menu-item-5975.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5975
                      a(target='_blank', href='http://angel.co/good-co/jobs', itemprop='url') Careers at Good&amp;Co
                    li#menu-item-713.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-713
                      a(href='https://good.co/contact/', itemprop='url') Contact
                li#menu-item-5907.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-5907
                  a(href='#', itemprop='url') Extras
                  ul.sub-menu
                    li#menu-item-5908.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5908
                      a(href='https://good.co/company-insider/', itemprop='url') Quora Company Insider
                    li#menu-item-1167.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1167
                      a(href='https://good.co/partner-sites/', itemprop='url') Partner Sites
                    li#menu-item-1168.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1168
                      a(href='https://good.co/privacy-policy/', itemprop='url') Privacy
                    li#menu-item-1169.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1169
                      a(href='https://good.co/terms-conditions/', itemprop='url') Terms and Conditions
