$icomoon-font-family: "ch" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e900";
$icon-arrow: "\e901";
$icon-calendar: "\e902";
$icon-check: "\e903";
$icon-close: "\e904";
$icon-eye-close: "\e905";
$icon-eye: "\e906";
$icon-filter: "\e907";
$icon-heart-full: "\e908";
$icon-heart: "\e909";
$icon-language: "\e90a";
$icon-latter: "\e90b";
$icon-lesson: "\e90c";
$icon-logo: "\e90d";
$icon-search: "\e90e";
$icon-sort: "\e90f";
$icon-source: "\e910";
$icon-star-full: "\e911";
$icon-star: "\e912";
$icon-success: "\e913";
$icon-time: "\e914";
$icon-user: "\e915";

