extends includes/layout.pug

block content
  .page
    section.main-wrapper
      include models/header.pug
      div.main-content-wrapper
        .container-full
          main#main-content.main-content
            include models/article.pug
      include models/footer.pug

